<section data-bs-version="5.1" class="header1 cid-uQfC1LDgNP" id="header01-1p">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-12 col-lg-8 image-wrapper">
        <img class="w-100" [src]="image" alt="Yoga Image" />
      </div>
      <div class="col-12 col-lg col-md-12">
        <div class="text-wrapper align-left">
          <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
            <strong>{{ title }}</strong>
          </h1>
          <p class="mbr-text mbr-fonts-style mb-4 display-7">
            {{ description }}
          </p>
          <div class="mbr-section-btn mt-3">
            <a class="btn btn-danger display-7" [href]="buttonLink">
              {{ buttonText }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
