<section data-bs-version="5.1" class="contacts4 map1 cid-uQfKxlZw2N" id="contacts04-25">
<div class="main_wrapper">
		<div class="b_wrapper">
			<div class="container-fluid">
				<div class="row justify-content-start">
					<div class="col-md-5 col-lg-4 item-wrapper">
                        <h5 class="cardTitle mbr-fonts-style mb-2 display-5">
                            <strong>Contact Us</strong>
                        </h5>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="mbr-text item-wrap">Phone: 09129121080</li><li class="mbr-text item-wrap">WhatsApp: 09129121080,</li><li class="mbr-text item-wrap">CHS LTD Building, Queens 505 A wing Hiranandani Estate Queens CHS Ltd, Wood Street, behind Greenwhich Building, Patlipada, Thane, Maharashtra 400607</li>
                        </ul>
					</div>
				</div>
			</div>
		</div>
        <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6045.3003145248895!2d-73.9884657!3d40.7477229!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9ac1f1b85%3A0x7e33d1c0e7af3be4!2zMzUwIDV0aCBBdmUsIE5ldyBZb3JrLCBOWSAxMDExOCwg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1689597362021!5m2!1sen!2sen" allowfullscreen=""></iframe></div>
	</div>
</section>